<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <RollingRandomAccessFile name="R" fileName="/home/lisp/logs/tttt.log"
                                 filePattern="/home/lisp/logs/tttt.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="%-d{yyyy-MM-dd HH:mm:ss.SSS} %p [%t] %c{1} | %m%n">
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingRandomAccessFile>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%-d{yyyy-MM-dd HH:mm:ss.SSS} %p [%t] %c{1} | %m%n"/>
        </Console>
    </Appenders>
    <Loggers>

        <!-- specific package log level -->
        <logger name="com.rita.wxx" level="DEBUG" />
        
        <logger name="org.jooq" level="DEBUG" />

        <!-- default log level -->
        <Root level="INFO">
            <AppenderRef ref="R"/>
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
